
<h1>Questions#show</h1>
<p><%= @question.title %></p>
<p><%= @question.content %></p>

<div class="container">
  <div class="row">
    <%= render @questions %>
  </div>

  <%= paginate @questions %>
</div>

