<h1 id="signUp">Sign up for Question Box please!</h1>
<button type="button"
onclick="document.getElementById('demo').innerHTML = Date()">
Click me to display Date and Time.</button>
<p id="demo"></p>

<%= render 'form', user: @user %>
<footer>
           <div class="footrow">
                   <p>Copyright &copy; Rubeast Cohort 10 2017</p>
           </div>
       </footer>
