<h1>Profile</h1>

<div class="col-sm-4">
  <span><%= @user.displayname %>
  <% if current_user && current_user.id == @user.id %>
    <%= link_to 'Edit', edit_user_path(@user) %>
  <% end %>
  </span>
	<%= @user.questions.each do |user| %>
		<% @question.title %>
		<% @question.content %>
		<% @question.answer %>
	<% end %>
</div>

<div class="col-sm-8">

</div>
