<h1 id="answers">New Answer</h1>

<%= render 'form', answer: @answer %>

<% link_to 'Back', answers_path %>


<footer>
           <div class="footrow">
                   <p>Copyright &copy; Rubeast Cohort 10 2017</p>
           </div>
       </footer>
